header.header
	.container
		.wrapper-content
			h1.header-title big shop
		.header__field
			.header__field-input
				svg(xmlns="http://www.w3.org/2000/svg" width="25" height="25")
					g(fill="transparent" stroke="#010101" stroke-width="2")
						circle(cx="10.4" cy="10.5" r="9.2")
						path(d="M6.4 6.5c-1 1-1.6 2.5-1.6 4s.6 3 1.6 4M19.8 17.7l4 4M17.6 20l4 4c1.5.2 2.4-1.1 2.3-2.3l-4-4")
				input.search-input(type="text")
			nav.header__field-navigation
				.header__field-navigation-title collection