/* Vars:================================================================= */

// Font
$mainFont: "OpenSans", Helvetica, Arial, sans-serif;
$mainSecondFont: "Roboto", Helvetica, Arial, sans-serif;

// Size
$mainFontColor: #090000;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 1170px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

/*---Color---*/

//---Main color
$default-color: #ffffff;
$primary-color: #040620;
$danger-color: #fc5c65;
$warning-color: #ffea00;
$light-color: #999999;
$purple-color: #8d83f9;

// bg color
$first-color: rgba(170, 85, 243, 0.5);
$second-color: rgba(17, 0, 255, 0.5);

// Neutral Color
$secondary-color: #929292;
$neutral-color: #f6f5f7;

//Shadow
$base-shadow: rgba(237, 235, 253, 0.75);
$iphone-shadow: rgba(218, 218, 218, 0.75);
$header-shadow: rgba(170, 85, 243, 0.5);
